<!DOCTYPE html>
<header>
    <link rel="stylesheet" type="text/css" href="static/css/form.css">
</header>
<html>
    <body>
        <div class="form-style-2">
            <div class="form-style-2-heading">Configuration</div>

            <form class="form-inline" action="/conf/configure" method="post">

                <label for="field1"><span>data dir:<span class="required">*</span></span><input type="text" class="input-field" name="dir" value="/home/mtx/git/ranklens/static/data" /></label>
            <div class="form-style-2-heading">Hot keys</div>
                <label for="field1"><span>grade A:<span class="required">*</span></span><input type="text" class="input-field" name="A" value="1" /></label>
                <label for="field1"><span>grade B:<span class="required">*</span></span><input type="text" class="input-field" name="B" value="2" /></label>
                <label for="field1"><span>grade C:<span class="required">*</span></span><input type="text" class="input-field" name="C" value="3" /></label>
                <label for="field1"><span>nonlens:<span class="required">*</span></span><input type="text" class="input-field" name="N" value="0" /></label>
                <label for="field1"><span>next image:<span class="required">*</span></span><input type="text" class="input-field" name="next" value="j" /></label>
                <label for="field1"><span>previous image:<span class="required">*</span></span><input type="text" class="input-field" name="pre" value="k" /></label>
                <label><span> </span><input type="submit" value="Submit" /></label>
            </form>
        </div>

    </body>
</html>

<!--

    <form action="" method="post">
    <label><span> </span><input type="submit" value="Submit" /></label>
    </form>
-->
