<!DOCTYPE html>
<html>
    <body>

        <h2>my first JavaScript</h2>

        <button type="button"
                onclick="document.getElementById('demo').innerHTML = Date()">
            点击这里来显示日期和时间
        </button>

        <p id="demo"></p>

        <button onclick="document.getElementById('Image').src='/static/data/84651020533.png'">next</button>

        <img id="Image" border="0" src="" style="text-align:center;">

        <script src="/static/js/test.js"></script>

        <body type="text" onkeypress="myFunction()" />

        <script>
           myFunction()
        </script>


    </body>
</html>

