<!DOCTYPE html>
<header>
    <link rel="stylesheet" type="text/css" href="static/css/form.css">
    <base target="_blank" />
</header>
<html>
    <body>
        <div class="form-style-2">
            <div class="form-style-2-heading">Login</div>

            <form class="form-inline" action="/login/backend" method="post">
                <label for="field1"><span>user name:<span class="required">*</span></span><input type="text" class="input-field" name="user" value="" /></label>
                <label><span> </span><input type="submit" value="Submit" /></label>
            </form>
        </div>

    </body>
</html>

<!--

    <form action="" method="post">
    <label><span> </span><input type="submit" value="Submit" /></label>
    </form>
-->
